#header{
    position: relative;
    background: url(./image2.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 9rem;
}

.header .lead {
    position: absolute;
    left: 0;
    bottom: -11rem;
    width:100%;
}
.logo img{
    height: 70px;
    border-radius: 50%;
    position: static;
}

.nav-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

}
.nav-search{
    position: absolute;
    left: 70%;
    bottom: -20px;
}
ul{
    list-style: none;
}